@* @inherits KaTeXTestComponentBase *@

<KaTeXTest math="c"
           Action="@(c => Action(c))">
  <div id="interactivity" >
    <div>
      Rendering...
    </div>
  </div>
</KaTeXTest>

@code {
  static async Task Action(IRenderedComponent<KaTeX> cut)
  {
    var mord = cut.Find(".mord");
    await mord.ClickWithFakeBubblingAsync();
    var diffs = cut.GetChangesSinceFirstRender();
  }
}
