@using BlaTeX.Components
@* @inherits KaTeXTestComponentBase *@

<KaTeXTest math="\blatex:A"
           ChildComponentMarkupService="@service">
    <div>Hello</div>
</KaTeXTest>

@code {
    static IChildComponentMarkupService service = new BlazorChildComponentMarkupService();
    RenderFragment hello =@<Identity>
        <div>Hello</div>
    </Identity>;

}
