@* @inherits KaTeXTestComponentBase *@

<KaTeXTest math="\blatex:A" ChildComponentMarkupService="@service">
	<div>Hello</div>
</KaTeXTest>

@code {
	static IChildComponentMarkupService service = new BlazorChildComponentMarkupService();
	RenderFragment A = @<A><div>Hello</div></A>;

	public class ComponentsAsRenderFragments
	{
		[Fact]
		public void a()
		{

		}
	}
}
