//npm.pkg.github.com/:_authToken=<https://my.1password.com/app#/everything/Search/pvibzyorpuh3vjq6z6isihlkiu4noqtqushkev5feu6fpwnyztl4?itemListId=github>
@jeroenbos:registry=https://npm.pkg.github.com
