@inherits KaTeXTestComponentBase

<KaTeXTest math="\blatex{}">
	<span class="katex">
        <span class="katex-mathml">
          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <semantics>
              <mrow>
                <annotation></annotation>
              </mrow>
              <annotation encoding="application/x-tex">\blatex{}</annotation>
            </semantics>
          </math>
        </span>
        <span class="katex-html" aria-hidden="true">
          <span class="base">
            <span class="strut" style="height:0em;"></span>
            <span data-loc="0,9"></span>
          </span>
        </span>
      </span>
</KaTeXTest>
