@inherits KaTeXTestComponentBase

<KaTeXTest math="\blatex{0}">
	<span class="katex">
		<span class="katex-mathml">
			<math xmlns="http://www.w3.org/1998/Math/MathML">
				<semantics>
					<mrow>
						<annotation></annotation>
					</mrow>
					<annotation encoding="application/x-tex">\blatex{0}</annotation>
				</semantics>
			</math>
		</span>
		<span class="katex-html" aria-hidden="true">
			<span class="base">
				<span class="strut" style="height:0em;vertical-align:0em;"></span>
				<span data-blatex="0" data-loc="0,7"></span>
			</span>
		</span>
	</span>
</KaTeXTest>
