@inherits KaTeXTestComponentBase

<KaTeXTest math="c \blatex{c}">
	<span class="katex">
		<span class="katex-mathml">
			<math xmlns="http://www.w3.org/1998/Math/MathML">
				<semantics>
					<mrow>
						<mi>c</mi>
						<annotation>c</annotation>
					</mrow>
					<annotation encoding="application/x-tex">c \blatex{c}</annotation>
				</semantics>
			</math>
		</span>
		<span class="katex-html" aria-hidden="true">
			<span class="base">
				<span class="strut" style="height:0.43056em;vertical-align:0em;"></span>
				<span class="mord mathnormal" data-loc="0,1">c</span>
				<span data-loc="2,11">
					<span data-blatex="c" data-loc="2,11"></span>
				</span>
			</span>
		</span>
	</span>
</KaTeXTest>
