@using BlaTeX.Components
@inherits KaTeXTestComponentBase

<KaTeXTest math="c \blatex{C#input}"
           ChildComponentMarkupService=inputReplacer>
    <span class="katex">
      <span class="katex-mathml">
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <semantics>
            <mrow>
              <mi>c</mi>
              <annotation>C#input</annotation>
            </mrow>
            <annotation encoding="application/x-tex">c \blatex{C#input}</annotation>
          </semantics>
        </math>
      </span>
      <span class="katex-html" aria-hidden="true">
        <span class="base">
          <span class="strut" style="height:0.6833em;"></span>
          <span class="mord mathnormal" data-loc="0,1">c</span>
          <span data-loc="2,18">
            <input>
          </span>
        </span>
      </span>
    </span>
</KaTeXTest>

@code {
    private IChildComponentMarkupService inputReplacer => new LiteralChildComponentMarkupService("C#input", @<input>);
}
