@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<div class="content px-4">
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <p class="errorUI"
               style="background-color: #ffe5e5; color: #d8000c; border: 1px solid #d8000c; padding: 16px; margin: 16px 0; border-radius: 8px; font-family: sans-serif; ">
                Error: @context.Message
            </p>
        </ErrorContent>
    </ErrorBoundary>
</div>
