@page "/fetchdata"
@inject HttpClient Http
@inject IJSRuntime JS


<h3>This component demonstrates calling JS from .NET. </h3>

@if (html == null) {
    <div id="katex_placeholder">"Loading..."</div>
}
else {
    @(html.Value)
}

@code {
    private MarkupString? html;
    protected override async Task OnInitializedAsync()
    {
        string html = await JS.InvokeAsync<string>("katex.renderToString", "c = \\pm\\sqrt{a^2 + b^2}");
        this.html = (MarkupString)html;
    }
}
