@inherits KaTeXTestComponentBase

<KaTeXTest math="c">
  <span class="katex">
    <span class="katex-mathml">
      <math>
        <semantics>
          <mrow><mi>c</mi></mrow>
          <annotation encoding="application/x-tex">c</annotation>
        </semantics>
      </math>
    </span>
    <span class="katex-html" aria-hidden="true">
      <span class="base">
        <span class="strut" style="height:0.43056em;vertical-align:0em;"></span>
        <span class="mord mathit">c</span>
      </span>
    </span>
  </span>
</KaTeXTest>
