@using BlaTeX.Tests.Mocks
@inherits KaTeXTestComponentBase

<KaTeXTest math="\sqrt{c}">
    <span class="katex">
        <span class="katex-mathml">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <semantics>
                    <mrow>
                        <msqrt>
                            <mi>c</mi>
                        </msqrt>
                    </mrow>
                    <annotation encoding="application/x-tex">\sqrt{c}</annotation>
                </semantics>
            </math>
        </span>
        <span class="katex-html"
              aria-hidden="true">
            <span class="base">
                <span class="strut"
                      style="height:1.04em;vertical-align:-0.2397em;"></span>
                <span class="mord sqrt"
                      data-loc="0,8">
                    <span class="vlist-t vlist-t2">
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:0.8003em;">
                                <span class="svg-align"
                                      style="top:-3em;">
                                    <span class="pstrut"
                                          style="height:3em;"></span>
                                    <span class="mord"
                                          style="padding-left:0.833em;"
                                          data-loc="5,8">
                                        <span class="mord mathnormal"
                                              data-loc="6,7">c</span>
                                    </span>
                                </span>
                                <span style="top:-2.7603em;">
                                    <span class="pstrut"
                                          style="height:3em;"></span>
                                    <span class="hide-tail"
                                          style="min-width:0.853em;height:1.08em;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="400em"
                                             height="1.08em"
                                             viewBox="0 0 400000 1080"
                                             preserveAspectRatio="xMinYMin slice">
                                            <path diff:ignore></path>
                                        </svg>
                                    </span>
                                </span>
                            </span>
                            <Ignore />
                        </span>
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:0.2397em;">
                                <span></span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</KaTeXTest>
