@using BlaTeX.Tests.Mocks
@inherits KaTeXTestComponentBase

<KaTeXTest math="\sqrt{}">
    <span class="katex">
        <span diff:ignore></span>
        <span class="katex-html"
              aria-hidden="true">
            <span class="base">
                <span class="strut"
                      style="height:1.04em;vertical-align:-0.2395em;"></span>
                <span class="mord sqrt"> @* data-loc="0,5" 🚧 *@
                    <span class="vlist-t vlist-t2">
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:0.8005em;">
                                <span class="svg-align"
                                      style="top:-3em;">
                                    <span class="pstrut"
                                          style="height:3em;"></span>
                                    <span class="mord"
                                          style="padding-left:0.833em;"
                                          data-loc="5,7"></span>
                                </span>
                                <span style="top:-2.7605em;">
                                    <span class="pstrut"
                                          style="height:3em;"></span>
                                    <span class="hide-tail"
                                          style="min-width:0.853em;height:1.08em;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="400em"
                                             height="1.08em"
                                             viewBox="0 0 400000 1080"
                                             preserveAspectRatio="xMinYMin slice">
                                            <path diff:ignore></path>
                                        </svg>
                                    </span>
                                </span>
                            </span>
                            <Ignore />
                        </span>
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:0.2395em;">
                                <span></span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</KaTeXTest>
