@using BlaTeX.Tests.Mocks
@inherits KaTeXTestComponentBase

<KaTeXTest math="\sqrt{\sqrt{a+b}}">
    <span class="katex">
        <span class="katex-mathml">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <semantics>
                    <mrow>
                        <msqrt>
                            <msqrt>
                                <mrow>
                                    <mi>a</mi>
                                    <mo>+</mo>
                                    <mi>b</mi>
                                </mrow>
                            </msqrt>
                        </msqrt>
                    </mrow>
                    <annotation encoding="application/x-tex">\sqrt{\sqrt{a+b}}
                    </annotation>
                </semantics>
            </math>
        </span>
        <span class="katex-html"
              aria-hidden="true">
            <span class="base">
                <span class="strut"
                      style="height:1.24em;vertical-align:-0.1844em;"></span>
                <span class="mord sqrt"
                      data-loc="0,17">
                    <span class="vlist-t vlist-t2">
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:1.0556em;">
                                <span class="svg-align"
                                      style="top:-3.2em;">
                                    <span class="pstrut"
                                          style="height:3.2em;"></span>
                                    <span class="mord"
                                          style="padding-left:1em;"
                                          data-loc="5,17">
                                        <span class="mord sqrt"
                                              data-loc="6,16">
                                            <span class="vlist-t vlist-t2">
                                                <span class="vlist-r">
                                                    <span class="vlist"
                                                          style="height:0.8906em;">
                                                        <span class="svg-align"
                                                              style="top:-3em;">
                                                            <span class="pstrut"
                                                                  style="height:3em;"></span>
                                                            <span class="mord"
                                                                  style="padding-left:0.833em;"
                                                                  data-loc="11,16">
                                                                <span class="mord mathnormal"
                                                                      data-loc="12,13">a</span>
                                                                <span class="mspace"
                                                                      style="margin-right:0.2222em;"></span>
                                                                <span class="mbin"
                                                                      data-loc="13,14">+</span>
                                                                <span class="mspace"
                                                                      style="margin-right:0.2222em;"></span>
                                                                <span class="mord mathnormal"
                                                                      data-loc="14,15">b</span>
                                                            </span>
                                                        </span>
                                                        <span style="top:-2.8506em;">
                                                            <span class="pstrut"
                                                                  style="height:3em;"></span>
                                                            <span class="hide-tail"
                                                                  style="min-width:0.853em;height:1.08em;">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="400em"
                                                                     height="1.08em"
                                                                     viewBox="0 0 400000 1080"
                                                                     preserveAspectRatio="xMinYMin slice">
                                                                    <path diff:ignore></path>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <Ignore />
                                                </span>
                                                <span class="vlist-r">
                                                    <span class="vlist"
                                                          style="height:0.1494em;">
                                                        <span></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span style="top:-3.0156em;">
                                    <span class="pstrut"
                                          style="height:3.2em;"></span>
                                    <span class="hide-tail"
                                          style="min-width:1.02em;height:1.28em;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="400em"
                                             height="1.28em"
                                             viewBox="0 0 400000 1296"
                                             preserveAspectRatio="xMinYMin slice">
                                            <path diff:ignore></path>
                                        </svg>
                                    </span>
                                </span>
                            </span>
                            <Ignore />
                        </span>
                        <span class="vlist-r">
                            <span class="vlist"
                                  style="height:0.1844em;">
                                <span></span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
    </span>
</KaTeXTest>
